<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.branmark.track_event" >

    <application>
        <receiver
            android:name=".ReferrerReceiver"
            android:permission="android.permission.INSTALL_PACKAGES"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
